@media screen and (max-width:70Opx) {
body {
    width: 100%;
    
}    
  
}

ul > li{
    margin-left: 45px;
    font-weight: bolder;
    font-size: 14px;
    font-family: 'roboto',sans-serif;
    float: right;
    width: auto;
    height: auto;
  
  }
  nav{
      background-color: rgb(6, 6, 78);
      color: white;
  }
  .text{
    color: black;
   }
   container {
    position: relative;
    text-align: center;
    color: white;
  }
   .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
  }
   
    #gb{
      position: relative;
      max-width: 100%;
      height:100% ;
    }
  
  #IMG{
    position: relative;
    left: 7%;
    bottom: 220px;
    width: 40%;
    height: 40%;
  }

  #P{
    position: fixed;
    text-align: center;
    color: cornsilk;
  }

  
  #profil{
  width: 100%;
    height: 360px;
  }
  #formation{
    width: 100%;
    height: 360px;
    color: antiquewhite;
  }
  #B{
    position: relative;
    width: 100%;
    height: 350px;
    bottom: 100px;
  }
  .hero-title {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
   transform: translate(-50%, -50%);
    font-size: 100px;

    opacity:100%;
   z-index: 2;
    font-weight: bolder;



 